*{
    background-color: #202124;
    color: #969BA1;
    font-family:  Times, serif;
}

h2,h3 {
    color: white;
}

.bar{
    display: flex;
    justify-content: space-around;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
}

.logo {
    color: #202124;
}

.srch {
    height: 40px;
    width: 550px;
    background-color: rgb(92, 92, 92);
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.srch p {
    padding-left: 15px;
    background-color: rgb(92, 92, 92);
    
}

.gap {
    width: 300px;
}

.icoon i {
    margin-left: 20px;
    font-size: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-one {
    margin-left: 30px;
}

.navbar ul {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1rem;
}

.line {
    color: grey;
    font-family: cursive;
    font-size: 0.7rem;
    margin-left: 50px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-one h2,p {
    margin: 10px;
}

.buttons button {
    color: white;
    padding: 12px 20px;
    margin: 0px 10px 0px 10px;
    font-size: 1rem;
    background-color: #2F3039;
    border-radius: 25px;
    border: 0px solid white;
}

button:hover {
    background-color: lightblue;
}

hr {
    border: 1px solid grey;
}


.content {
    margin: 0px 50px;
    width: auto;
    display: flex;
    justify-content: space-between;
    
}

.left-content {
    border-right: 0.8px solid grey;
    width: 800px;
    padding: 20px;
}

.wiki {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
}

.wiki-img {
    border-radius: 50%;
    background-color: white;
    height: 30px;
}

.names a {
    color: violet;
    text-decoration: none;
}

.names:hover {
    text-decoration: underline;
}

.side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.right-content {
    width: 400px;
    padding: 20px 20px 20px 0px;
}

.circles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle img {
    border-radius: 50%;
    height: 20px;

}

.circle {
    border: 1px solid white;
    padding: 20px;
    border-radius: 50%;
    font-size: 20px;
}

.circle:hover {
    background-color: #8ab4f8;
}

.lines {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.box {
    display: flex;
    justify-content: space-around;
}

.box1 {
    border-right: 1px solid grey;
}

.like div {
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
}

.netfi {
    margin-left: 50px;
    width: 800px;
}

.netfi-one {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
}

.epi:hover {
    color: #8ab4f8;
}

.netfi div a {
    text-decoration: none;
}


.rev {
    display: flex;
    justify-content: start;
    text-align: start;
}

.rev-one {
    margin: 0px 15px;
}














































































